*.gem
*.log
.DS_Store
.bundle
.env
.idea
.yardoc
.yardopts
capybara-*.html
coverage
db/*.0
db/*.1
db/*.ns
db/mongod.lock
doc
docs
log/*.log
pkg
public/*.html
public/assets
public/system/**/*
rdoc
tmp/**/*
zeus.json
spec/dummy/tmp
