<!--
  Any extra fields required for editing entries can be added here.

  For example:

  <li>
    <label for="meta-published_at">Published at</label>
    <input type="datetime" id="meta-published_at" value="{{published_at}}">
  </li>
-->

