<%%= will_paginate slice.page_entries, class: 'pagination above' %>
<ul class="entries">
  <%% slice.page_entries.each do |entry| -%>
    <li><%%= link_to entry.name, entry.path %></li>
  <%% end -%>
</ul>
<%%= will_paginate slice.page_entries, class: 'pagination below' %>

