<div class="login">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>

  <p><%= f.submit "Send me reset password instructions" %></p>

  <% end %>

</div>
