<li>
  {{#composer field="items"}}
    <div class="composition-fields">
      <input type="text" name="title" value="{{title}}" placeholder="Title…">
      <input type="text" name="definition" value="{{definition}}" placeholder="Definition…">
    </div>
  {{/composer}}
</li>
