#admin_nav_sources a {
  background-image: url(/images/icon_octocat.svg);
}

.composition-fields input {
  display: block;
  width: 355px;
  margin: 0;
  float: left;
}
.composition-fields input:first-child {
  margin-right: 8px;
}
.composition-fields:after {
  content: ' ';
  display: block;
  clear: both;
}
