<!--[if !IE]> -->
<%= render 'form' %>
<!-- <![endif]-->

<!--[if gte IE 9]>
<%= render 'form' %>
<![endif]-->

<!--[if lt IE 9]>
  <div class="notice">
    <p>Slices CMS is incompatible with your browser. Please <a href="http://abetterbrowser.org/">upgrade your browser</a>.</p>
  </div>
<![endif]-->

