<!DOCTYPE html>
<html>
<head>
  <title>Slices</title>
  <%= stylesheet_link_tag    "slices/application", :media => "all" %>
  <%= javascript_include_tag "slices/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
