<li>
  <label for="slices-{{id}}-answer">What's the answer?</label>
  {{#radioField field="answer"}}
    <label><input type="radio" value="A">Yes</label>
    <label><input type="radio" value="B">No</label>
    <label><input type="radio" value="C">42</label>
  {{/radioField}}
</li>
